/* NavBar.css */
.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9900;
    position:fixed;
    width:97.75%;
  }
  
  .navbar h1 {
    font-size: 28px;
    color: #6344df;
    margin: 0;
    width:300px;
  }

  .connection-info{
    font-weight: bold;
    width:100%;
  }

  .logo-text {
    color: #6344df;
    text-decoration: none; 
    padding-right:10px;
    padding-top:17px;
    float:right;
  }

  .addr-chain{
    display:block;
    width:98%;
    text-align: right;
  }

  .balance{
    display: block;
    width:98%;
    text-align:right;
    color: #6344df;
    font-weight: bold;
  }

  .othub-logo{
    width:70px;
    height:70px;
  }
  
  @media (max-width: 1536px) {
    .navbar h1 {
      font-size: 28px;
      color: #6344df;
      margin: 0;
      width:350px;
    }

    .logo-text {
      color: #6344df;
      text-decoration: none; 
      padding-right:10px;
      float:right;
    }

    .othub-logo{
      width:70px;
      height:70px;
    }
}

  @media (max-width: 1366px) {
    .navbar h1 {
      font-size: 28px;
      color: #6344df;
      margin: 0;
      width:350px;
    }
  }

  @media (max-width: 480px) {
     .navbar {
      background-color: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0px;
      z-index: 9900;
      position:relative;
      width:calc(100%);
    }

    .logo-text {
      display:none;
    }
    
    .navbar h1 {
      font-size: 16px;
      color: #6344df;
      margin: 0;
      margin-left:3%;
      width:140px;
    }

    .addr-chain{
      display:block;
      width:60%;
      text-align: left;
      margin-top:-10px;
    }

    .balance{
      display: block;
      width:98%;
      text-align:right;
      color: #6344df;
      font-weight: bold;
      margin-top:-60px;
    }

    @media (max-width: 420px) {
      .addr-chain{
        display:none;
      }

      .balance{
        display: block;
        width:98%;
        text-align:right;
        color: #6344df;
        font-weight: bold;
        margin-top:0px;
        margin-right:20px;
      }
    }
  /*
    .connection-info{
      margin-left:-1%;
      font-size: 14px;
      font-weight: bold;
    }

    .logo-text {
      color: #6344df;
      text-decoration: none; 
      padding-right:10px;
    }

    .addr-chain{
      display: inline-block;
      width:50%
    }
  
    .balance{
      display: inline-block;
      width:40%;
      text-align:right;
      color: #6344df;
      font-weight: bold;
    } */
  }

  @media (max-width: 360px) {
    .navbar {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        z-index: 9900;
        position:relative;
        width:calc(100%);
      }
      
      .navbar h1 {
        font-size: 16px;
        color: #6344df;
        margin: 0;
        margin-left:3%;
      }
    
      .connection-info{
        margin-left:-1%;
        font-size: 14px;
        font-weight: bold;
      }

      .logo-text {
        color: #6344df;
        text-decoration: none; 
        padding-right:10px;
      }
  }