.apps-list{
    border: 2px solid #6168ED;
    width:95%;
    height: 70%;
    position: absolute;
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
    margin-top:5%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.app-list-item {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px;
}

    .app-list-item:hover {
        width: 100%;
        outline: 2px 2px 1px 2px solid;
        background-color: #F5F5F5;
        
    }

  .app-list-item input[type="checkbox"]{
    cursor: pointer;
    color: #6168ED;
    margin-right:80%;
    margin-top:25px;
  }

.app-list-item label {
    color: #6168ED;
    margin-top: -23px;
    margin-left: 23%;
    text-align:left;
}

.app-settings-button {
    font-size: 16px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 530px;
    padding: 8px 16px;
    background-color: #6168ED;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.app-search-button {
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    background-color: #6168ED;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: -30%;
}

.app-search input{
    margin-top:1px;
    height:24px;
    margin-left:-3px;
}

@media (max-width: 480px) {
    .apps-list {
        border: 2px solid #6168ED;
        width: 95%;
        height: 70%;
        position: absolute;
        overflow: auto;
        border-radius: 5px 5px 5px 5px;
        margin-top: 5%;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .app-list-item {
        width: 100%;
        height: 60px;
        border-bottom: solid 1px;
    }

        .app-list-item:hover {
            width: 100%;
            outline: 2px 2px 1px 2px solid;
            background-color: #F5F5F5;
        }

        .app-list-item input[type="checkbox"] {
            cursor: pointer;
            color: #6168ED;
            margin-right: 80%;
            margin-top: 25px;
        }

        .app-list-item label {
            color: #6168ED;
            margin-top: -23px;
            margin-left: 23%;
            text-align: left;
        }

    .app-search-button {
        font-size: 12px;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
        padding: 8px 16px;
        background-color: #6168ED;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-weight: bold;
        margin-left: -100px;
    }

    .app-search input {
        height: 25px;
        margin-left: -3px;
        z-index:-1;
    }
}