.assets {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.assets-header {
  padding-top: 80px;
  padding-left: 230px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  color: #6344df;
  font-weight: bold;
}

.asset-card-container {
  margin-top: 1%;
  padding-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  height: 750px;
  width: 64%;
  overflow: auto;
  padding-left: 20px;
  outline: 2px solid #6344df;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  float: right;
}

.asset-network-drop-down {
  width: 10%;
  position: absolute;
  margin-left: 230px;
  margin-top: 100px;
}

.asset-network-drop-down select {
  background-color: #ffffff;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

.asset-network-drop-down select:hover {
  background-color: #ffffff;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

.assets-form {
  width: 15%;
  height: 500px;
  margin-top: 30px;
  margin-left: 12%;
  margin-right: 30px;
  padding-left: 3%;
  padding-top:10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  background-color: #f5f5f5;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  color: #6344df;
}

.assets-form input[type="text"] {
  width: 75%;
}
.assets-form input[type="radio"] {
  font-size: 12px;
  cursor: "pointer";
}
.asset-limit {
  margin-top: 5%;
  margin-bottom: 3%;
}

.assets-form button {
  margin-left: 30%;
  font-weight: bold;
}

.asset-card-id2043,
.asset-card-id2043:focus {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 2px solid #000000;
  font-family: OCR A Std, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id2043:hover,
.asset-card-id2043:focus:hover {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 3px solid #000000;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id20430,
.asset-card-id20430:focus {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 2px solid #000000;
  font-family: OCR A Std, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id20430:hover,
.asset-card-id20430:focus:hover {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 3px solid #000000;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id100,
.asset-card-id100:focus {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 2px solid #133629;
  font-family: OCR A Std, monospace;
  background-color: rgba(19, 54, 41, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id100:hover,
.asset-card-id100:focus:hover {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 3px solid #133629;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(19, 54, 41, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id10200,
.asset-card-id10200:focus {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 2px solid #133629;
  font-family: OCR A Std, monospace;
  background-color: rgba(19, 54, 41, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id10200:hover,
.asset-card-id10200:focus:hover {
  height: 10rem;
  width: 6.5rem;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  outline: 3px solid #133629;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(19, 54, 41, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.assets-result-count {
  margin-left: 31%;
  margin-top: 5px;
  outline: 2px solid #6344df;
  position: absolute;
  z-index: 60;
  border-radius: 2px;
  background-color: #ffffff;
  font-size: 16px;
}

.card-token-id2043 {
  color: #000000;
  font-size: 16px;
  margin-top: 0%;
  padding-bottom: 10%;
  text-align: left;
  font-weight: bold;
}

.card-token-id20430 {
  color: #000000;
  font-size: 16px;
  margin-top: 0%;
  padding-bottom: 10%;
  text-align: left;
  font-weight: bold;
}

.card-token-id100 {
  color: #133629;
  font-size: 16px;
  margin-top: 0%;
  padding-bottom: 10%;
  text-align: left;
  font-weight: bold;
}

.card-token-id10200 {
  color: #133629;
  font-size: 16px;
  margin-top: 0%;
  padding-bottom: 10%;
  text-align: left;
  font-weight: bold;
}

.card-img {
  height: 65px;
  width: 65px;
}

.card-image-id2043 {
  color: #000000;
  outline: 1px solid #000000;
  height: 4rem;
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
}

.card-image-id20430 {
  color: #000000;
  outline: 1px solid #000000;
  height: 4rem;
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
}

.card-image-id100 {
  color: #133629;
  outline: 1px solid #133629;
  height: 4rem;
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
}

.card-image-id10200 {
  color: #133629;
  outline: 1px solid #133629;
  height: 4rem;
  width: 90%;
  margin-left: 5%;
  background-color: #ffffff;
}

.card-size-id2043 {
  padding-top: 5%;
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-size-id20430 {
  padding-top: 5%;
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-size-id100 {
  padding-top: 5%;
  color: #133629;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-size-id10200 {
  padding-top: 5%;
  color: #133629;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-cost-id20430 {
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-cost-id2043 {
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-cost-id100 {
  color: #133629;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-cost-id10200 {
  color: #133629;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}

.card-expires-id2043 {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  padding-top: 20%;
}

.card-expires-id20430 {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  padding-top: 20%;
}

.card-expires-id100 {
  color: #133629;
  font-weight: bold;
  font-size: 12px;
  padding-top: 20%;
}

.card-expires-id10200 {
  color: #133629;
  font-weight: bold;
  font-size: 12px;
  padding-top: 20%;
}

.assets-popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #6344df;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  height: 85%;
  overflow: auto;
}

.assets-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  color: #6344df;
  font-weight: bold;
}

.close-button:hover {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1536px) {
  .assets-form {
    width: 15%;
    height: 500px;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 30px;
    padding-left: 2%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    color: #6344df;
  }

  .asset-card-container {
    margin-top: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    height: 700px;
    width: 62%;
    overflow: auto;
    padding-left: 20px;
    outline: 2px solid #6344df;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    float: right;
  }
}

@media (max-width: 1366px) {
  .assets-form {
    width: 17%;
    height: 500px;
    margin-top: 30px;
    margin-left: 17%;
    margin-right: 30px;
    padding-left: 2%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    color: #6344df;
  }

  .asset-card-container {
    margin-top: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    height: 700px;
    width: 57%;
    overflow: auto;
    padding-left: 20px;
    outline: 2px solid #6344df;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    float: right;
  }
}

@media (max-width: 480px) {
  .assets-form {
    width: 70%;
    height: 430px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 30px;
    padding-left: 10%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    color: #6344df;
  }

  .asset-card-container {
    margin-top: 1%;
    padding-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    height: 700px;
    width: 80%;
    overflow: auto;
    padding-left: 20px;
    outline: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow:none;
    display: inline-block;
    float: right;
  }

  .assets-form input[type="text"]{
    width: 80%;
  }

  .card-token-id2043 {
    color: #000000;
    font-size: 30px;
    margin-top: -10%;
    padding-bottom: 10%;
    text-align: left;
    font-weight: bold;
  }
  
  .card-token-id20430 {
    color: #000000;
    font-size: 30px;
    margin-top: -10%;
    padding-bottom: 5%;
    text-align: left;
    font-weight: bold;
  }
  
  .card-token-id100 {
    color: #133629;
    font-size: 30px;
    margin-top: -10%;
    padding-bottom: 10%;
    text-align: left;
    font-weight: bold;
  }
  
  .card-token-id10200 {
    color: #133629;
    font-size: 30px;
    margin-top: -10%;
    padding-bottom: 10%;
    text-align: left;
    font-weight: bold;
  }
  
  .card-img {
    width: 60%;
    height: 11rem;
    margin-top: 10px;
  }

  .card-image-id2043 {
    color: #000000;
    outline: 3px solid #000000;
    height: 13rem;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff;
  }
  
  .card-image-id20430 {
    color: #000000;
    outline: 3px solid #000000;
    height: 13rem;
    width: 85%;
    margin-left: 7.5%;
    background-color: #ffffff;
  }
  
  .card-image-id100 {
    color: #133629;
    outline: 3px solid #133629;
    height: 13rem;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff;
  }
  
  .card-image-id10200 {
    color: #133629;
    outline: 3px solid #133629;
    height: 13rem;
    width: 90%;
    margin-left: 5%;
    background-color: #ffffff;
  }
  
  .card-size-id2043 {
    padding-top: 5%;
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-size-id20430 {
    padding-top: 5%;
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-size-id100 {
    padding-top: 5%;
    color: #133629;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-size-id10200 {
    padding-top: 5%;
    color: #133629;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-cost-id20430 {
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-cost-id2043 {
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-cost-id100 {
    color: #133629;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-cost-id10200 {
    color: #133629;
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
  }
  
  .card-expires-id2043 {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
  }
  
  .card-expires-id20430 {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
  }
  
  .card-expires-id100 {
    color: #133629;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
  }
  
  .card-expires-id10200 {
    color: #133629;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20%;
  }

  .asset-card-id2043,
.asset-card-id2043:focus {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #000000;
  font-family: OCR A Std, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id2043:hover,
.asset-card-id2043:focus:hover {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #000000;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id20430,
.asset-card-id20430:focus {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #000000;
  font-family: OCR A Std, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id20430:hover,
.asset-card-id20430:focus:hover {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #000000;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id100,
.asset-card-id100:focus {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #133629;
  font-family: OCR A Std, monospace;
  background-color: rgba(19, 54, 41, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id100:hover,
.asset-card-id100:focus:hover {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #133629;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id10200,
.asset-card-id10200:focus {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #133629;
  font-family: OCR A Std, monospace;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.asset-card-id10200:hover,
.asset-card-id10200:focus:hover {
  height: 32rem;
  width: 95%;
  float: left;
  margin-left: 0%;
  margin-bottom: 15%;
  border-radius: 10px;
  outline: 5px solid #133629;
  font-family: OCR A Std, monospace;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

  .assets-popup-content {
    width: 85%;
    height: 90%;
    margin-left: 0%;
    margin-top: 0%;
  }
}

@media (max-width: 360px) {
  .assets {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }

  .assets-header {
    display: flex;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 97%;
    width: 82%;
    margin-left: 15.5%;
    position: relative;
  }

  .assets-form {
    width: 90%;
    height: 270px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-top: 4%;
  }

  .asset-card-container {
    margin-top: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1%;
    margin-left: 3%;
    height: 40%;
    width: 90%;
    overflow: auto;
    padding-right: 3%;
    outline: 1px solid #6344df;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
  }

  .asset-card,
  .asset-card:focus {
    height: 7.5rem;
    width: 27%;
    float: left;
    margin-left: 5%;
    margin-bottom: 4%;
    border-radius: 10px;
    outline: 2px solid #6344df;
    font-family: OCR A Std, monospace;
    background-color: #ffffff;
    border: none;
  }

  .asset-card:hover,
  .asset-card:focus:hover {
    height: 7.5rem;
    width: 27%;
    float: left;
    margin-left: 5%;
    margin-bottom: 4%;
    border-radius: 10px;
    outline: 3px solid #6344df;
    font-family: OCR A Std, monospace;
    cursor: pointer;
    border: none;
    background-color: #f5f5f5;
  }

  .card-image {
    color: #6344df;
    outline: 0.5px solid #6344df;
    height: 2rem;
    width: 90%;
    margin-left: 5%;
    font-size: 11px;
  }

  .card-size {
    padding-top: 5%;
    color: #6344df;
    font-size: 11px;
    text-align: left;
    margin-left: 5%;
  }

  .card-cost {
    color: #6344df;
    font-size: 10px;
    text-align: left;
    margin-left: 5%;
  }

  .card-token {
    color: #6344df;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
  }

  .card-expires {
    color: #6344df;
    font-weight: bold;
    text-align: left;
    font-size: 8px;
    padding-top: 10%;
  }

  .radios {
    margin-left: 50%;
    margin-top: -80%;
    margin-bottom: 5%;
  }

  .asset-limit {
    margin-top: 5%;
  }

  .assets-form input[type="text"] {
    width: 45%;
  }

  .assets-form input[type="range"] {
    width: 90%;
  }

  .assets-form input[type="radio"] {
    font-size: 12px;
    cursor: "pointer";
  }

  .assets-form button {
    margin-left: 60%;
    margin-top: 70%;
    font-weight: bold;
  }

  .assets-result-count {
    margin-left: 39%;
    margin-top: 290px;
    outline: 2px solid #6344df;
    position: absolute;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 10px;
  }

  .assets-popup-content {
    width: 80%;
    height: 85%;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(1turn);
  }
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
