.charts {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.charts-body {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #6344df;
  height: 85vh;
  width:87%;
  margin-top: 10px;
  margin-left: 12%;
  overflow: auto;
  padding-left: 3px;
  padding-bottom: 10px;
}

.chart-container {
  margin-top: .5%;
  padding-top: 1%;
  margin-right: .5%;
  height: 460px;
  width:48%;
  padding-left: 1%;
  outline: 2px solid #6344df;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  float: left;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.chart-name{
    font-weight: bold;
    color: #6344df;
    text-align: center;
}

.chart-port{
    width: 100%;
    height:380px;
}

.chart-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.chart-filter-button{
    background-color: #FFFFFF;
    border: none;
    color: #6344df;
    outline: 2px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    margin-left:10px;
    font-weight: bold;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.chart-filter-button:hover {
    background-color: #6344df;
    border: none;
    color: #FFFFFF;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
}

.network-drop-down {
    width:10%;
    margin-top: -10px;
    margin-bottom: 5px;
}

.network-drop-down select{
    background-color: #FFFFFF;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
}

.network-drop-down select:hover{
    background-color: #FFFFFF;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
}
.spacer{
    margin-top: .5%;
  padding-top: 1%;
  margin-right: .5%;
  height: 30px;
  width:48%;
  padding-left: 1%;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  float: left;
}

@media(max-width:1536px){
    .charts {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh + 20px);
        font-family: "Roboto", sans-serif;
      }
      
      .charts-header {
        font-size: calc(10px + 2vmin);
        z-index: 10;
        color: #6344df;
        height: 85vh;
        width:85%;
        margin-top: 6%;
        margin-left: 14%;
        overflow: auto;
        padding-left: 3px;
        padding-bottom: 10px;
      }
      
      .chart-container {
        margin-top: .5%;
        padding-top: 1%;
        margin-right: .5%;
        height: 400px;
        width:48%;
        padding-left: 1%;
        outline: 2px solid #6344df;
        border-radius: 10px 10px 10px 10px;
        display: inline-block;
        float: left;
      }
      
      .chart-name{
          font-weight: bold;
      }
      
      .chart-port{
          width: 99%;
          height:380px;
          margin-bottom:-60px;
      }
      
      .chart-filter-button{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 2px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          margin-left:10px;
          font-weight: bold;
      }
      
      .chart-filter-button:hover {
          background-color: #6344df;
          border: none;
          color: #FFFFFF;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
      }
      
      .network-drop-down {
          width:10%;
          margin-top: 0px;
          margin-bottom: 5px;
      }
      
      .network-drop-down select{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
      
      .network-drop-down select:hover{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
}

@media(max-width:1366px){
    .charts {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: "Roboto", sans-serif;
      }
      
      .charts-header {
        font-size: calc(10px + 2vmin);
        z-index: 10;
        color: #6344df;
        height: 85vh;
        width:84%;
        margin-top: 7%;
        margin-left: 16%;
        overflow: auto;
        padding-left: 3px;
        padding-bottom: 10px;
      }
      
      .chart-container {
        margin-top: .5%;
        padding-top: 1%;
        margin-right: .5%;
        height: 330px;
        width:48%;
        padding-left: 1%;
        outline: 2px solid #6344df;
        border-radius: 10px 10px 10px 10px;
        display: inline-block;
        float: left;
      }
      
      .chart-name{
          font-weight: bold;
      }
      
      .chart-port{
          width: 99%;
          height:350px;
          margin-bottom:-50px;
      }
      
      .chart-filter-button{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 2px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          margin-left:10px;
          font-weight: bold;
      }
      
      .chart-filter-button:hover {
          background-color: #6344df;
          border: none;
          color: #FFFFFF;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
      }
      
      .network-drop-down {
          width:10%;
          margin-top: 10px;
          margin-bottom: 5px;
      }
      
      .network-drop-down select{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
      
      .network-drop-down select:hover{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
}

@media (max-width: 480px) {
    .charts {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: "Roboto", sans-serif;
      }
      
      .charts-header {
        font-size: calc(10px + 2vmin);
        z-index: 10;
        color: #6344df;
        height: 87vh;
        width:84%;
        margin-top: 80px;
        margin-left: 13%;
        overflow: auto;
        padding-left: 3px;
        padding-bottom: 10px;
      }
      
      .chart-container {
        margin-top: .5%;
        padding-top: 1%;
        margin-right: .5%;
        height: 280px;
        width:97%;
        padding-left: 1%;
        outline: 2px solid #6344df;
        border-radius: 10px 10px 10px 10px;
        display: inline-block;
        float: left;
        margin-bottom:10px;
      }
      
      .chart-name{
          font-weight: bold;
          color: #6344df;
          text-align: center;
      }
      
      .chart-port{
          width: 99%;
          height:380px;
          margin-bottom:-180px;
      }
      
      .chart-filter-button{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 2px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          margin-left:10px;
          font-weight: bold;
      }
      
      .chart-filter-button:hover {
          background-color: #6344df;
          border: none;
          color: #FFFFFF;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
      }
      
      .network-drop-down {
          width:10%;
          margin-top: 10px;
          margin-bottom: 15px;
      }
      
      .network-drop-down select{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
      
      .network-drop-down select:hover{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
}

@media (max-width: 380px) {
    .charts {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: "Roboto", sans-serif;
      }
      
      .charts-header {
        font-size: calc(10px + 2vmin);
        z-index: 10;
        color: #6344df;
        height: 87vh;
        width:80%;
        margin-top: 80px;
        margin-left: 16%;
        overflow: auto;
        padding-left: 3px;
        padding-bottom: 10px;
      }
      
      .chart-container {
        margin-top: .5%;
        padding-top: 1%;
        margin-right: .5%;
        height: 220px;
        width:97%;
        padding-left: 1%;
        outline: 2px solid #6344df;
        border-radius: 10px 10px 10px 10px;
        display: inline-block;
        float: left;
        margin-bottom:10px;
      }
      
      .chart-name{
          font-weight: bold;
      }
      
      .chart-port{
          width: 99%;
          height:380px;
          margin-bottom:-220px;
      }
      
      .chart-filter-button{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 2px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          margin-left:10px;
          font-weight: bold;
      }
      
      .chart-filter-button:hover {
          background-color: #6344df;
          border: none;
          color: #FFFFFF;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
      }
      
      .network-drop-down {
          width:10%;
          margin-top: 10px;
          margin-bottom: 15px;
      }
      
      .network-drop-down select{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
      
      .network-drop-down select:hover{
          background-color: #FFFFFF;
          border: none;
          color: #6344df;
          outline: 1px solid #6344df;
          border-radius: 2px 2px 2px 2px;
          cursor: pointer;
          font-weight: bold;
      }
}