.home-title{
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -30px;
  margin-left:0px;
}

.activity-feed {
  height:370px;
  z-index: 500;
  color: #6344df;
  padding-left:1%;
  margin-right:1%;
  width: 43%;
  display: inline-block;
  z-index: 500;
  float: right;
}

.activity-feed-title{
  padding-top:10px;
  font-weight: bold;
  color: #6344df;
  text-align: center;
  font-size: 20px;
}

.activity-feed-list{
  height: 100%;
  overflow: auto;
  margin-right:5px;
  padding-top:10px;
  text-align: left;
}

.activity-feed-list-item{
  height: 25px;
  outline: 1px solid #c3b8ec;
  
  border-radius: 2px 2px 2px 2px;
  color: #6344df;
  padding-left:5px;
  padding-top:5px;
}

.activity-feed-list-item:hover{
  height: 25px;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  background-color: #F5F5F5;
  cursor: pointer;
}

.activity-feed-timestamp{
  font-weight: bold;
  font-size: 10px;
  width: 15%;
  display: inline-block;
  color:#cccccc;
}

.activity-feed-head{
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  margin-left: -40px;
  color:#cccccc;
  width: 53%;
  text-align: left;
}

.activity-feed-blockchain-2043{
  color: #fb5deb;
  font-weight: bold;
  font-size: 10px;
  width:18%;
  display: inline-block;
}

.activity-feed-blockchain-100{
  color: #133629;
  font-weight: bold;
  font-size: 10px;
  width:18%;
  display: inline-block;
}

.activity-feed-blockchain-20430{
  color: #fb5deb;
  font-weight: bold;
  font-size: 10px;
  width:18%;
  display: inline-block;
}

.activity-feed-blockchain-10200{
  color: #133629;
  font-weight: bold;
  font-size: 10px;
  width:18%;
  display: inline-block;
}

.activity-feed-event-name-AssetCreated{
  color:#6344df;
  width: 24%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}

.activity-feed-event-name-AssetTransferred{
  color: #ebb917;
  width: 28%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}

.activity-feed-event-name-AssetBurnt{
  color: #000000;
  width: 28%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;;
}

.activity-feed-event-name-AssetUpdated{
  color: #e9e76f;
  width: 28%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}

.activity-feed-event-name-ProofSubmitted{
  color:#cccccc;
  width: 28%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  padding-left: 10px;
}

.activity-feed-event-ProofSubmitted{
  color: rgb(19, 183, 133);
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  padding-right: 10px;
}

.activity-feed-event-CommitSubmitted{
  color:#cccccc;
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  padding-right: 10px;
}

.activity-feed-event-name{
  color:#cccccc;
  width: 24%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}

.activity-feed-event-signer{
  color:#cccccc;
  width: 20%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-left: -40px;
}

.activity-feed-event-AssetCreated{
  color: rgb(19, 183, 133);
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  padding-right: 10px;
}

.activity-feed-event-AssetTransferred{
  color: rgb(19, 183, 133);
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-right: 10px;
}

.activity-feed-event-AssetBurnt{
  color: #000000;
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-right: 10px;
}

.activity-feed-event-AssetUpdated{
  color: rgb(19, 183, 133);
  width: 16%;
  display: inline-block;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding-right: 10px;
}

.home-chart {
  margin-top:0%;
  padding-left:1%;
  padding-right:2%;
  margin-right:1%;
  height:450px;
  width: 40%;
  outline: 2px solid #6344df;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  z-index: 500;
  float: right;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.home-chart-name{
  padding-top:10px;
  font-weight: bold;
  color: #6344df;
  text-align: center;
}

.header-seg1{
  width:30%;
  display: inline-block;
}

.home-network-drop-down {
  margin-top: 5px;
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.home-network-drop-down select{
  background-color: #FFFFFF;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.home-network-drop-down select:hover{
  background-color: #FFFFFF;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

.home-stats{
  height:380px;
  z-index: 500;
  color: #6344df;
  padding-left:1%;
  padding-right:2%;
  margin-right:1%;
  width: 40%;
  display: inline-block;
  float: right;
  margin-top:10px;
  position: relative;
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap;
  margin-bottom: 10px;
}

.total-stats-home-div{
  outline: 2px solid #6344df;
  height:93%;
  width: 245px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(99, 68, 223, .1);
  color: #2f1e5c;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding-bottom: 10px;
}

.d100-home-div{
  outline: 2px solid #133629;
  height:93%;
  width: 245px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding-bottom: 10px;
}

.d100-chain-logo img{
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  height:20px;
  width:200px;
}

.d2043-home-div{
  outline: 2px solid #fb5deb;
  height:93%;
  width: 245px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding-bottom: 10px;
}

.d2043-chain-logo img{
  padding-left:10px;
  padding-top:10px;
  height:30px;
  width:30px;
}

.d10200-home-div{
  outline: 2px solid #133629;
  height:93%;
  width: 245px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding-bottom: 10px;
}

.d10200-chain-logo img{
  padding-left:10px;
  padding-top:10px;
  height:30px;
  width:30px;
}

.d20430-home-div{
  outline: 2px solid #fb5deb;
  height:93%;
  width: 245px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding-bottom: 10px;
}

.d20430-chain-logo img{
  padding-left:10px;
  padding-top:10px;
  height:30px;
  width:30px;
}

.chain-logo{
  padding-left:10px;
  padding-top:10px;
  height:25px;
  padding-bottom:10px;
}

.chain-logo span{
  font-size: 14px;
  font-weight: bold;
}

.chain-assets{
  font-size: 14px;
  padding-left:10px;
  padding-top:5px;
}

.chain-assets span{
  font-size: 16px;
  font-weight: bold;
}

.chain-stake{
  font-size: 14px;
  padding-left:10px;
  padding-top:20px;
}

.chain-stake span{
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

button[type='submit'] {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6344df;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #4925da;
}

.bar-header{
  height: 50px;
  width: 500px;
  border-radius: 5px;
  margin-left:60%;
  position: absolute;
  z-index:600;
}

.bar-title{
  color: #6344df;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  padding-bottom:50px;
}

.bar-legend{
  display: inline-block;
  width:10%;
  text-align: right;
  color: #6344df;
  font-weight: bold;
  font-size:10px;
}

.bar-legend-big{
  display: inline-block;
  width:10%;
  text-align: right;
  color: #6344df;
  font-weight: bold;
}

.progress-bar{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #F5F5F5;
  margin-bottom:10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #6344df;
  border-radius: 5px;
  left: 0;
  z-index: 91;
} 

.bar-text{
  color:#ffffff;
  width:100%;
  font-weight: bold;
  padding-top:17.5px;
  text-align: center;
  margin-right:5%;
  font-size:16px;
}

.badge{
  margin-bottom:20px;
  width:125px;
}

.badge img{
  height: 125px;
  width:125px;
}

.home-chart-container {
  margin-top: 2%;
  margin-right: .5%;
  padding-top: 1%;
  height: 320px;
  width:31.25%;
  padding-left: .5%;
  padding-right: 1%;
  outline: 2px solid #6344df;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  float: left;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.home-chart-port{
  width: 100%;
  height:400px;
  padding-top: 10px;
}

.home-charts-body {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #6344df;
  height: 100%;
  width:87%;
  margin-left: 12%;
  padding-left: 3px;
}

.home-chart-name{
  font-size: 24px;
  margin-top: -10px;
}

@media(max-width:1536px){
  .home-stats{
    height:380px;
    z-index: 500;
    color: #6344df;
    padding-left:.5%;
    padding-right:2%;
    width: 37%;
    display: inline-block;
    float: right;
    margin-top:10px;
    position: relative;
    overflow-x: auto; /* Enable horizontal scrollbar */
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .activity-feed {
    height:370px;
    z-index: 500;
    color: #6344df;
    padding-left:1%;
    margin-right:1%;
    width: 42.5%;
    display: inline-block;
    z-index: 500;
    float: right;
  }
  
  .activity-feed-title{
    padding-top:10px;
    font-weight: bold;
    color: #6344df;
    text-align: center;
    font-size: 20px;
  }
  
  .activity-feed-list{
    height: 100%;
    overflow: auto;
    margin-right:5px;
    padding-top:10px;
    text-align: left;
  }
  
  .activity-feed-list-item{
    height: 25px;
    outline: 1px solid #c3b8ec;
    
    border-radius: 2px 2px 2px 2px;
    color: #6344df;
    padding-left:5px;
    padding-top:5px;
  }
  
  .activity-feed-list-item:hover{
    height: 25px;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    background-color: #F5F5F5;
    cursor: pointer;
  }
  
  .activity-feed-timestamp{
    font-weight: bold;
    font-size: 9px;
    width: 15%;
    display: inline-block;
    color:#cccccc;
  }
  
  .activity-feed-head{
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    margin-left: -30px;
    color:#cccccc;
    width: 55%;
    text-align: left;
  }
  
  .activity-feed-event-name-AssetCreated{
    color: #6344df;
    width: 21%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetTransferred{
    color: #ebb917;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetBurnt{
    color: #000000;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetUpdated{
    color: #e9e76f;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }

  .activity-feed-event-name-ProofSubmitted{
    color: rgb(19, 183, 133);
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-ProofSubmitted{
    color: rgb(19, 183, 133);
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 5px;
  }

  .activity-feed-event-CommitSubmitted{
    color: rgb(218, 75, 187);
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-CommitSubmitted{
    color: rgb(218, 75, 187);
    width: 38%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
  }
  
  .activity-feed-event-AssetCreated{
    color: rgb(19, 183, 133);
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 5px;
  }
  
  .activity-feed-event-AssetTransferred{
    color: rgb(19, 183, 133);
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-AssetBurnt{
    color: #000000;
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-AssetUpdated{
    color: rgb(19, 183, 133);
    width: 15%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }

  .activity-feed-blockchain-2043{
    color: #fb5deb;
    font-weight: bold;
    font-size: 10px;
    width:15%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-100{
    color: #133629;
    font-weight: bold;
    font-size: 10px;
    width:15%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-20430{
    color: #fb5deb;
    font-weight: bold;
    font-size: 10px;
    width:15%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-10200{
    color: #133629;
    font-weight: bold;
    font-size: 10px;
    width:15%;
    display: inline-block;
  }

  .activity-feed-event-signer{
    color:#cccccc;
    width: 17%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: -40px;
  }

  .activity-feed-event-name{
    color:#cccccc;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
  }

  .home-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 100%;
    width:84%;
    margin-left: 15.3%;
    padding-left: 3px;
  }

  .home-chart-container {
    margin-top: 1%;
    margin-right: .5%;
    padding-top: 1%;
    height: 250px;
    width:31.25%;
    padding-left: .5%;
    padding-right: 1%;
    outline: 2px solid #6344df;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    float: left;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .home-chart-port{
    width: 100%;
    height:80%;
    padding-top: 10px;
  }
  
  .home-chart-name{
    font-size: 20px;
    margin-top: -10px;
  }

}

@media(max-width:1366px){
  .activity-feed {
    height:370px;
    z-index: 500;
    color: #6344df;
    padding-left:1%;
    margin-right:1%;
    width: 42%;
    display: inline-block;
    z-index: 500;
    float: right;
  }

  .activity-feed-list{
    height: 100%;
    overflow: auto;
    margin-right:5px;
    padding-top:10px;
    text-align: left;
  }

  .activity-feed-list-item{
    height: 25px;
    outline: 1px solid #c3b8ec;
    
    border-radius: 2px 2px 2px 2px;
    color: #6344df;
    padding-left:5px;
    padding-top:5px;
  }
  
  .activity-feed-list-item:hover{
    height: 25px;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    background-color: #F5F5F5;
    cursor: pointer;
  }
  
  .activity-feed-timestamp{
    font-weight: bold;
    font-size: 9px;
    width: 11%;
    display: inline-block;
    color:#cccccc;
  }
  
  .activity-feed-head{
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    margin-left: -20px;
    color:#cccccc;
    width: 60%;
    text-align: left;
  }
  
  .activity-feed-event-name-AssetCreated{
    color: #6344df;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetTransferred{
    color: #ebb917;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetBurnt{
    color: #000000;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-AssetUpdated{
    color: #e9e76f;
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }

  .activity-feed-event-name-ProofSubmitted{
    color: rgb(19, 183, 133);
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-ProofSubmitted{
    color: rgb(19, 183, 133);
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 5px;
  }

  .activity-feed-event-CommitSubmitted{
    color: rgb(218, 75, 187);
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-name-CommitSubmitted{
    color: rgb(218, 75, 187);
    width: 25%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
  }

  .activity-feed-event-AssetCreated{
    color: rgb(19, 183, 133);
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 5px;
  }
  
  .activity-feed-event-AssetTransferred{
    color: rgb(19, 183, 133);
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-AssetBurnt{
    color: #000000;
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }
  
  .activity-feed-event-AssetUpdated{
    color: rgb(19, 183, 133);
    width: 10%;
    display: inline-block;
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    padding-right: 10px;
  }

  .activity-feed-blockchain-2043{
    color: #fb5deb;
    font-weight: bold;
    font-size: 10px;
    width:17%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-100{
    color: #133629;
    font-weight: bold;
    font-size: 10px;
    width:17%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-20430{
    color: #fb5deb;
    font-weight: bold;
    font-size: 10px;
    width:17%;
    display: inline-block;
  }
  
  .activity-feed-blockchain-10200{
    color: #133629;
    font-weight: bold;
    font-size: 10px;
    width:17%;
    display: inline-block;
  }

  .activity-feed-event-signer{
    color:#cccccc;
    width: 17%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: -40px;
  }

  .activity-feed-event-name{
    color:#cccccc;
    width: 28%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
  }

  .home-chart-name{
    font-size: 16px;
    margin-top: -10px;
  }

  .home-chart-port{
    width: 100%;
    height:80%;
    padding-top: 0px;
  }
}

@media (max-width: 480px) {
  .home-stats{
    height:100%;
    width:100%;
    z-index: 500;
    color: #6344df;
    padding-left:14%;
    padding-right:2%;
    width: 88%;
    float: left;
    margin-top:10px;
    position: relative;
    overflow-x: none; /* Enable horizontal scrollbar */
    white-space: nowrap;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
  }

  .activity-feed {
    display: none;
  }


  .total-stats-home-div{
    outline: 2px solid #6344df;
    height:360px;
    width: 94%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(99, 68, 223, .1);
    color: #2f1e5c;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .d100-home-div{
    outline: 2px solid #133629;
    height:360px;
    width: 94%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .d2043-home-div{
    outline: 2px solid #fb5deb;
    height:360px;
    width: 94%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .d10200-home-div{
    outline: 2px solid #133629;
    height:360px;
    width: 94%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-bottom: 10px;
  }
  
  .d20430-home-div{
    outline: 2px solid #fb5deb;
    height:360px;
    width: 94%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .home-chart-container {
    margin-top: .5%;
    padding-top: 1%;
    margin-right: .5%;
    height: 250px;
    width:97%;
    padding-left: 1%;
    outline: 2px solid #6344df;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    float: left;
    margin-bottom:10px;
  }

  .home-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 100%;
    width:83%;
    margin-left: 14%;
    padding-left: 3px;
  }

  .home-chart-name{
    font-size: 16px;
    margin-top: 0px;
  }
}

@media (max-width: 380px) {
  .home-stats{
    height:100%;
    width:100%;
    z-index: 500;
    color: #6344df;
    padding-left:15%;
    padding-right:2%;
    width: 88%;
    float: left;
    margin-top:10px;
    position: relative;
    overflow-x: none; /* Enable horizontal scrollbar */
    white-space: nowrap;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
  }
}