.main {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 80px;
  padding-left: 230px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  color: #6344df;
  font-weight: bold;
}

.body{
  height: 800px;
  width: 100%;
  position: relative;
  overflow: auto;
}

.staking-body {
  width: 84%;
  height: 100%;
  margin-left: 13%;
  margin-top: 2.5%;
  color: #6344df;
  display: absolute;
  margin-bottom: 75px;
}

.about-title{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-text{
  font-size: 16px;
  font-weight: 400;
}

.nodes-title{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
}

.node-stats-staking{
  height:700px;
  z-index: 500;
  color: #6344df;
  margin-top:10px;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center items horizontally */
  align-items: center; 
  overflow-x: auto;
  position: relative;
}

.d100-node-div-staking{
  outline: 2px solid #133629;
  height:97%;
  width: 300px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  padding-right:15px;
}

.d2043-node-div-staking{
  outline: 2px solid #fb5deb;
  height:97%;
  width: 300px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  padding-right:15px;
}

.d10200-node-div-staking{
  outline: 2px solid #133629;
  height:97%;
  width: 300px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  padding-right:15px;
}

.d20430-node-div-staking{
  outline: 2px solid #fb5deb;
  height:97%;
  width: 300px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  padding-right:15px;
}

.delegate-button{
  width: 100%;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center items horizontally */
  align-items: center; 
  margin-bottom: 50px;
}

.staking-body a{
  padding-top:10px;
  padding-bottom:10px;
  background-color: #6344df;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 150px;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
}

.social-icons{
  width:100%;
  bottom: 0;
  left: 0;
  height:40px;
  display: flex;
  justify-content: space-around; /* Adjust this property as needed */
  align-items: center;
  position: absolute;
}

.sync-icon{
  position: relative;
  display: inline-block;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 40px;
}

.circle:hover {
  cursor: pointer;
}

.exclamation {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.tooltip {
  visibility: hidden;
  width: 430px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  position: relative;
  margin-top: -10px;
  margin-left: 240px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 600;
  display: block;
  overflow: auto;
  font-weight: bold;
  padding-left:10px;
}

.sync-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1536px) {
  .staking-body {
    width: 82%;
    height: 100%;
    margin-left: 15%;
    margin-top: 2.5%;
    color: #6344df;
    display: absolute;
    margin-bottom: 200px;
  }
}

@media (max-width: 1366px) {
  .staking-body {
    width: 82%;
    height: 100%;
    margin-left: 16%;
    margin-top: 2.5%;
    color: #6344df;
    display: absolute;
    margin-bottom: 200px;
  }
}

@media (max-width: 1200px) {
  .staking-body {
    width: 80%;
    height: 100%;
    margin-left: 18%;
    margin-top: 2.5%;
    color: #6344df;
    display: absolute;
    margin-bottom: 250px;
  }
}

@media (max-width: 480px) {
  .tooltip {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: relative;
    margin-top: -10px;
    margin-left: 100px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 600;
    display: block;
    overflow: auto;
    font-weight: bold;
    padding-left:10px;
  }

  .staking-body {
    width: 83%;
    height: 100%;
    margin-left: 14%;
    color: #6344df;
    display: absolute;
    margin-bottom: 500px;
  }

  .node-stats-staking{
    height:580px;
    z-index: 500;
    color: #6344df;
    width: 97%;
    display: inline-block;
    z-index: 500;
    margin-top:10px;
    padding-top:10px;
    justify-content: center; /* Center items horizontally */
    align-items: center; 
  }

  .d100-node-div-staking{
    outline: 2px solid #133629;
    height:99%;
    width: 90%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-right:15px;
    margin-bottom:20px;
    float:right;
  }
  
  .d2043-node-div-staking{
    outline: 2px solid #fb5deb;
    height:99%;
    width: 90%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-right:15px;
    margin-bottom:20px;
    float:right;
  }
  
  .d10200-node-div-staking{
    outline: 2px solid #133629;
    height:99%;
    width: 90%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-right:15px;
    margin-bottom:20px;
    float:right;
  }
  
  .d20430-node-div-staking{
    outline: 2px solid #fb5deb;
    height:99%;
    width: 90%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-right:15px;
    margin-bottom:20px;
    float:right;
  }

  .staking-node-list {
    width: 100%;
    position: relative;
    display: inline-block;
    float: left;
    padding-top:10px;
    margin-bottom: 50px;
  }
}

@media (max-width: 440px) {
  .staking-body {
    width: 83%;
    height: 100%;
    margin-left: 14%;
    color: #6344df;
    display: absolute;
    margin-bottom: 550px;
  }
}

@media (max-width: 400px) {
  .tooltip {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: relative;
    margin-top: -10px;
    margin-left: 100px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 600;
    display: block;
    overflow: auto;
    font-weight: bold;
    padding-left:10px;
  }

  .staking-body {
    width: 82%;
    height: 100%;
    margin-left: 15%;
    color: #6344df;
    display: absolute;
    margin-bottom: 600px;
  }
}

@media (max-width: 360px) {
  .staking-body {
    width: 82%;
    height: 100%;
    margin-left: 15%;
    color: #6344df;
    display: absolute;
    margin-bottom: 650px;
  }
}
