 .connectWalletButton {
    font-size: 20px;
    color: #6168ED;
    background-color: #FFFFFF;
    border: 2px solid #6168ED;
    border-radius: 8px;
    padding: 5px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .connectWalletButton:hover {
    background-color: #6168ED;
    color: #FFFFFF;
  }