/* NavBar.css */
.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9900;
    position:absolute;
    width:97.75%;
  }
  
  .navbar h1 {
    font-size: 28px;
    color: #6168ED;
    margin: 0;
  }

  .connection-info{
    margin-left:-63%;
    font-weight: bold;
  }

  .logo-text {
    color: #6168ED;
    text-decoration: none; 
    padding-right:10px;
  }
  
  @media (max-width: 1280px) {
    .navbar {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 9900;
        position:relative;
        width:calc(100% - 40px);
      }
      
      .navbar h1 {
        font-size: 28px;
        color: #6168ED;
        margin: 0;
      }

      .connection-info{
        margin-left:-44%;
        font-weight: bold;
      }
    
      .logo-text {
        color: #6168ED;
        text-decoration: none; 
        padding-right:10px;
      }
  }

  @media (max-width: 600px) {
    .navbar {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        z-index: 9900;
        position:relative;
        width:calc(100%);
      }
      
      .navbar h1 {
        font-size: 16px;
        color: #6168ED;
        margin: 0;
        margin-left:3%;
      }
    
      .connection-info{
        margin-left:-1%;
        font-size: 14px;
        font-weight: bold;
      }

      .logo-text {
        color: #6168ED;
        text-decoration: none; 
        padding-right:10px;
      }
  }

  @media (max-width: 415px) {
    .navbar {
      background-color: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0px;
      z-index: 9900;
      position:relative;
      width:calc(100%);
    }
    
    .navbar h1 {
      font-size: 16px;
      color: #6168ED;
      margin: 0;
      margin-left:3%;
    }
  
    .connection-info{
      margin-left:-1%;
      font-size: 14px;
      font-weight: bold;
    }

    .logo-text {
      color: #6168ED;
      text-decoration: none; 
      padding-right:10px;
    }
  }
  
  @media (max-width: 360px) {
    .navbar {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        z-index: 9900;
        position:relative;
        width:calc(100%);
      }
      
      .navbar h1 {
        font-size: 16px;
        color: #6168ED;
        margin: 0;
        margin-left:3%;
      }
    
      .connection-info{
        margin-left:-1%;
        font-size: 14px;
        font-weight: bold;
      }

      .logo-text {
        color: #6168ED;
        text-decoration: none; 
        padding-right:10px;
      }
  }