.node-dashboard {
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  z-index: -1;
}

.node-dashboard-header {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #6344df;
  width: 87%;
  margin-top: 4%;
  margin-left: 10%;
  overflow: auto;
  padding-left: 3px;
  padding-bottom: 10px;
}

.header-seg2{
  width:65%;
  display: inline-block;
  margin-bottom: 10px;
}

.nodes-drop-down {
  width:10%;
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.nodes-drop-down select{
  background-color: #FFFFFF;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.nodes-drop-down select:hover{
  background-color: #FFFFFF;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

.window {
  position: relative;
  width: 87%;
  height: 770px;
  z-index: -1;
  margin-left: 12%;
  overflow: auto;
  padding-top: 0.5%;
  padding-left: 1%;
}

.node-stats{
  height:410px;
  z-index: 500;
  color: #6344df;
  padding-left:1%;
  padding-right:2%;
  margin-right:1%;
  width: 40%;
  display: inline-block;
  z-index: 500;
  float: right;
  margin-top:10px;
  position: relative;
}

.total-stats-node-div{
  outline: 2px solid #6344df;
  height:97%;
  width: 240px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(99, 68, 223, .1);
  color: #2f1e5c;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.d100-node-div{
  outline: 2px solid #133629;
  height:97%;
  width: 240px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.d2043-node-div{
  outline: 2px solid #fb5deb;
  height:97%;
  width: 240px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.d10200-node-div{
  outline: 2px solid #133629;
  height:97%;
  width: 240px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(19, 54, 41, 0.1);
  color: #133629;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.d20430-node-div{
  outline: 2px solid #fb5deb;
  height:97%;
  width: 240px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  margin-right:10px;
  position: relative;
  background-color: rgba(251, 93, 235, 0.1);
  color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.node-activity-feed {
  height:420px;
  z-index: 500;
  color: #6344df;
  margin-top:0px;
  margin-right:1%;
  width: 43%;
  display: inline-block;
  z-index: 500;
  float: right;
}

.node-activity-feed-list{
  height: 380px;
  overflow: auto;
  margin-right:5px;
  padding-top:10px;
  text-align: left;
}


.node-dashboard-charts-body {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #6344df;
  height: 85vh;
  width:87%;
  margin-top: 10px;
  margin-left: 12%;
  padding-left: 3px;
  padding-bottom: 10px;
}

.notification-button {
  position: relative;
  display: inline-block;
  float: right;
}

.settings {
  text-align: center;
  position: absolute;
  margin-top: 50px;
  left: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.settings input[type="text"] {
  color: #6344df;
  width: 300px;
}

.node-settings-popup-content {
  width: 400px;
  height: 360px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #6344df;
  font-weight: bold;
  font-size: 20px;
}

.telegram-id {
  font-size: 24px;
  position: absolute;
  padding-left: 0px;
  padding-top: 80px;
  font-weight: bold;
}

.bot-token {
  font-size: 24px;
  position: absolute;
  left: 0;
  margin-top: 170px;
  padding-left: 20px;
  font-weight: bold;
}

.settings-info {
  padding-top: 5px;
  font-size: 20px;
  position: absolute;
  color: #6344df;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #6344df;
  font-weight: bold;
  font-size: 20px;
}

.settings-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  color: #6344df;
  font-weight: bold;
}

.close-button:hover {
  color: #ff0000;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.submitSettings {
  margin-top: 270px;
  padding: 8px 16px;
  background-color: #6344df;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}
.submitSettings:hover {
  background-color: #4925da;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6344df;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #4925da;
}

.settings-popup-content {
  width: 20%;
  height: 20%;
}

.saved-notif{
  font-size: 12px;
  padding-top: 10px;
}

@media (max-width: 1536px) {
  .node-dashboard {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    z-index: -1;
  }

  .node-dashboard-header {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    width: 87%;
    margin-top: 5%;
    margin-left: 10%;
    overflow: auto;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .nodes-drop-down {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .nodes-drop-down select {
    background-color: #ffffff;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }

  .nodes-drop-down select:hover {
    background-color: #ffffff;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }

  .window {
    position: relative;
    width: 85%;
    height: 770px;
    z-index: -1;
    margin-left: 12%;
    overflow: auto;
    padding-top: 0.5%;
    padding-left: 3%;
  }

  .node-dashboard-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 85vh;
    width:87%;
    margin-top: 10px;
    margin-left: 13.5%;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .node-stats{
    height:410px;
    z-index: 500;
    color: #6344df;
    padding-left:1%;
    padding-right:1%;
    margin-right:1%;
    width: 40%;
    display: inline-block;
    z-index: 500;
    float: right;
    margin-top:10px;
    position: relative;
  }

  .settings {
    text-align: center;
    position: absolute;
    margin-top: 50px;
    left: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  .settings input[type="text"] {
    color: #6344df;
    width: 300px;
  }

  .node-settings-popup-content {
    width: 400px;
    height: 360px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    color: #6344df;
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
  }

  .telegram-id {
    font-size: 24px;
    position: absolute;
    padding-left: 0px;
    padding-top: 80px;
    font-weight: bold;
  }

  .bot-token {
    font-size: 24px;
    position: absolute;
    left: 0;
    margin-top: 170px;
    padding-left: 20px;
    font-weight: bold;
  }

  .settings-info {
    padding-top: 5px;
    font-size: 20px;
    position: absolute;
    color: #6344df;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings-popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    color: #6344df;
    font-weight: bold;
    font-size: 20px;
  }

  .settings-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    color: #6344df;
    font-weight: bold;
  }

  .close-button:hover {
    color: #ff0000;
    cursor: pointer;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #cccccc;
  }

  .submitSettings {
    margin-top: 270px;
    padding: 8px 16px;
    background-color: #6344df;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .submitSettings:hover {
    background-color: #4925da;
  }

  button[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #6344df;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }

  button[type="submit"]:hover {
    background-color: #4925da;
  }

  .settings-popup-content {
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 1366px) {
  .node-dashboard {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    z-index: -1;
  }

  .node-dashboard-header {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    width: 87%;
    margin-top: 6%;
    margin-left: 10%;
    overflow: auto;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .nodes-drop-down {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 40px;
  }

  .nodes-drop-down select {
    background-color: #ffffff;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }

  .nodes-drop-down select:hover {
    background-color: #ffffff;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }

  .window {
    position: relative;
    width: 82%;
    height: 770px;
    z-index: -1;
    margin-left: 12%;
    overflow: auto;
    padding-top: 0.5%;
    padding-left: 5%;
  }

  .node-dashboard-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 85vh;
    width:85%;
    margin-top: 10px;
    margin-left: 15%;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .node-stats{
    height:410px;
    z-index: 500;
    color: #6344df;
    margin-left:2%;
    padding-right:0%;
    margin-right:0%;
    width: 40%;
    display: inline-block;
    z-index: 500;
    float: right;
    margin-top:10px;
    position: relative;
  }

  .header-seg1{
    width:30%;
    display: inline-block;
    margin-bottom: 10px;
  }

  .header-seg2{
    width:65%;
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .node-activity-feed {
    height:420px;
    z-index: 500;
    color: #6344df;
    margin-top:0px;
    margin-right:1%;
    width: 84%;
    display: none;
    z-index: 500;
  }
  
  .node-activity-feed-list{
    height: 380px;
    overflow: auto;
    margin-right:5px;
    padding-top:10px;
    text-align: left;
  }

  .node-dashboard-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 85vh;
    width:83%;
    padding-top: 10px;
    margin-left: 13%;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .node-stats{
    height:calc(100% + 20px);
    z-index: 500;
    color: #6344df;
    padding-left:1%;
    padding-right:2%;
    margin-right:1%;
    width:83%;
    display: block;
    z-index: 500;
    float: right;
    margin-top:10px;
    position: relative;
  }
  
  .total-stats-node-div{
    outline: 2px solid #6344df;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(99, 68, 223, .1);
    color: #2f1e5c;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d100-node-div{
    outline: 2px solid #133629;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d2043-node-div{
    outline: 2px solid #fb5deb;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d10200-node-div{
    outline: 2px solid #133629;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d20430-node-div{
    outline: 2px solid #fb5deb;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .header-seg1{
    width:90%;
    display: inline-block;
    margin-bottom: 10px;
  }

  .header-seg2{
    width:90%;
    display: inline-block;
  }
}

@media (max-width: 360px) {
  .node-activity-feed {
    height:420px;
    z-index: 500;
    color: #6344df;
    margin-top:0px;
    margin-right:1%;
    width: 84%;
    display: none;
    z-index: 500;
  }
  
  .node-activity-feed-list{
    height: 380px;
    overflow: auto;
    margin-right:5px;
    padding-top:10px;
    text-align: left;
  }

  .node-dashboard-charts-body {
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6344df;
    height: 85vh;
    width:80%;
    padding-top: 10px;
    margin-left: 16%;
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .node-stats{
    height:calc(100% + 20px);
    z-index: 500;
    color: #6344df;
    padding-left:1%;
    padding-right:2%;
    margin-right:1%;
    width:80%;
    display: block;
    z-index: 500;
    float: right;
    margin-top:10px;
    position: relative;
  }
  
  .total-stats-node-div{
    outline: 2px solid #6344df;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(99, 68, 223, .1);
    color: #2f1e5c;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d100-node-div{
    outline: 2px solid #133629;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d2043-node-div{
    outline: 2px solid #fb5deb;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d10200-node-div{
    outline: 2px solid #133629;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(19, 54, 41, 0.1);
    color: #133629;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .d20430-node-div{
    outline: 2px solid #fb5deb;
    height:97%;
    width: 98%;
    display: block;
    border-radius: 5px 5px 5px 5px;
    margin-right:10px;
    position: relative;
    background-color: rgba(251, 93, 235, 0.1);
    color: #000000;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .header-seg1{
    width:90%;
    display: inline-block;
    margin-bottom: 10px;
  }

  .header-seg2{
    width:90%;
    display: inline-block;
  }
}
