  .node-list-container{
    margin-left:12%
  }

  .node-list-id2043 {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
    height: 80vh;
    width: 43%;
    margin-top: 20px;
    margin-right:20px;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    float: left;
  }

  .node-list-id100 {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #133629;
    border: 2px solid #133629;
    border-radius: 10px 10px 10px 10px;
    height: 80vh;
    width: 43%;
    margin-top: 20px;
    margin-right:20px;
    word-wrap: break-word;
    background-color: rgba(19, 54, 41, 0.1);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    float: left;
  }

  .node-list-id20430 {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
    height: 80vh;
    width: 43%;
    margin-top: 20px;
    margin-right:20px;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    float: left;
  }

  .node-list-id10200 {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #133629;
    border: 2px solid #133629;
    border-radius: 10px 10px 10px 10px;
    height: 80vh;
    width: 43%;
    margin-top: 20px;
    margin-right:20px;
    word-wrap: break-word;
    background-color: rgba(19, 54, 41, 0.1);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    float: left;
  }

  .node-list-header-2043{
    padding-top: 10px;
    height: 75px;
    width: 100%;
  }

  .node-list-header-20430{
    padding-top: 10px;
    height: 75px;
    width: 100%;
  }

  .node-list-header-100{
    padding-top: 10px;
    height: 75px;
    width: 100%;
  }

  .node-list-header-10200{
    padding-top: 10px;
    height: 75px;
    width: 100%;
  }

  .node-list-header-2043 img{
    text-align: center;
    margin-left:30%;
    width: 35px;
    height: 35px;
  }

  .node-list-header-100 img{
    text-align: center;
    margin-left:35%;
    width: 250px;
    height: 30px;
  }

  .node-list-header-20430 img{
    text-align: center;
    margin-left:30%;
    width: 35px;
    height: 35px;
  }

  .node-list-header-10200 img{
    text-align: center;
    margin-left:30%;
    width: 35px;
    height: 35px;
  }

  .node-list{
    overflow: auto;
    width: 100%;
    height: 88%;
  }

  .node-id-header{
    padding-left:10px;
    width:12%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: flex;
    bottom: 0;
  }

  .network-header{
    width:37%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
  }

  .token-name-header{
    width:17.5%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
  }

  .token-sym-header{
    width:15%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
  }

  .stake-header{
    width:14.25%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
  }

  .node-id-record{
    padding-left:10px;
    width:12%;
    display: inline-block;
    font-size: 18px;
    height:30px;
  }

  .network-record{
    width:38%;
    display: inline-block;
    font-size: 18px;
  }

  .token-name-record{
    width:18%;
    display: inline-block;
    font-size: 18px;
  }

  .token-sym-record{
    width:15%;
    display: inline-block;
    font-size: 18px;
  }

  .stake-record{
    width:15%;
    display: inline-block;
    font-size: 18px;
  }

  .nodes-network-drop-down {
    width:10%;
    position: absolute;
    margin-left:230px;
    margin-top:100px;
    z-index: 200;
  }
  
  .nodes-network-drop-down select{
    background-color: #FFFFFF;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .nodes-network-drop-down select:hover{
    background-color: #FFFFFF;
    border: none;
    color: #6344df;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media(max-width:1536px){
    .node-list-container{
      margin-left:15%
    }

    .node-list-id2043 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 41%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id100 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 41%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id20430 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 41%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id10200 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 41%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }

    .node-list-header-100 img{
      text-align: center;
      margin-left:25%;
      width: 250px;
      height: 30px;
    }
  }

  @media(max-width:1366px){
    .node-list-container{
      margin-left:17%
    }

    .node-list-id2043 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 47%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id100 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 47%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id20430 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 47%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }
  
    .node-list-id10200 {
      display: inline-block;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 80vh;
      width: 47%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: left;
    }

    .node-id-header{
      padding-left:10px;
      width:10%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      position: flex;
      bottom: 0;
    }

    .node-id-record{
      padding-left:10px;
      width:8%;
      display: inline-block;
      font-size: 18px;
      height:30px;
    }
  }

  @media (max-width: 480px) {
    .node-list-id2043 {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 70vh;
      width: 95%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: right;
    }
  
    .node-list-id100 {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 70vh;
      width: 95%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: right;
    }
  
    .node-list-id20430 {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #000000;
      border: 2px solid #000000;
      border-radius: 10px 10px 10px 10px;
      height: 70vh;
      width: 95%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: right;
    }
  
    .node-list-id10200 {
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #133629;
      border: 2px solid #133629;
      border-radius: 10px 10px 10px 10px;
      height: 70vh;
      width: 95%;
      margin-top: 20px;
      margin-right:20px;
      word-wrap: break-word;
      background-color: rgba(19, 54, 41, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      float: right;
    }

    .node-list-header-2043 img{
      text-align: center;
      margin-left:25%;
      width: 35px;
      height: 35px;
    }
  
    .node-list-header-100 img{
      text-align: center;
      margin-left:17%;
      width: 250px;
      height: 30px;
    }
  
    .node-list-header-20430 img{
      text-align: center;
      margin-left:25%;
      width: 35px;
      height: 35px;
    }
  
    .node-list-header-10200 img{
      text-align: center;
      margin-left:25%;
      width: 35px;
      height: 35px;
    }

    .node-list{
      overflow: auto;
      width: 100%;
      height: 85%;
    }

    .node-list-header{
      padding-top: 10px;
      height: 75px;
      width: 100%;
    }
  
    .node-list-header img{
      text-align: center;
      margin-left:30%
    }
  
    .node-list{
      overflow: auto;
      width: 100%;
      height: 85%;
    }
  
    .node-id-header{
      padding-left:10px;
      width:12%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      position: flex;
      bottom: 0;
    }
  
    .network-header{
      width:60%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
    }
  
    .token-name-header{
      width:17.5%;
      display: none;
      font-size: 18px;
      font-weight: bold;
    }
  
    .token-sym-header{
      width:16%;
      display: none;
      font-size: 18px;
      font-weight: bold;
    }
  
    .stake-header{
      width:15%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
    }
  
    .node-id-record{
      padding-left:10px;
      width:12%;
      display: inline-block;
      font-size: 18px;
      height:30px;
    }
  
    .network-record{
      width:60%;
      display: inline-block;
      font-size: 18px;
    }
  
    .token-name-record{
      width:18%;
      display: none;
      font-size: 18px;
    }
  
    .token-sym-record{
      width:18%;
      display: none;
      font-size: 18px;
    }
  
    .stake-record{
      width:16%;
      display: inline-block;
      font-size: 18px;
    }
  }

  @media (max-width: 380px) {
    .node-list-header-100 img{
      text-align: center;
      margin-left:10%;
      width: 250px;
      height: 30px;
    }
  
    .stake-header{
      width:20%;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
    }

    .stake-record{
      width:20%;
      display: inline-block;
      font-size: 18px;
    }
  }
