.node-list-container {
  margin-left: 14%;
  height: 830px;
}

.node-list-id2043 {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #000000;
  border: 2px solid #fb5deb;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 97%;
  margin-top: 5px;
  background-color: rgba(251, 93, 235, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.node-list-id2043:hover {
  border: 3px solid #fb5deb;
}

.node-list-id2043 img {
  width: 30px;
  float: left;
}

.node-list-id100 {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #133629;
  border: 2px solid #133629;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 97%;
  margin-top: 5px;
  background-color: rgba(19, 54, 41, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.node-list-id100:hover {
  border: 3px solid #133629;
}

.node-list-id100 img {
  width: 30px;
  float: left;
}

.node-list-id20430 {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #000000;
  border: 2px solid #fb5deb;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 97%;
  margin-top: 5px;
  background-color: rgba(251, 93, 235, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.node-list-id20430:hover {
  border: 3px solid #fb5deb;
}

.node-list-id20430 img {
  width: 30px;
  float: left;
}

.node-list-id10200 {
  font-size: calc(10px + 2vmin);
  z-index: 10;
  color: #133629;
  border: 2px solid #133629;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 97%;
  margin-top: 5px;
  background-color: rgba(19, 54, 41, 0.1);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.node-list-id10200:hover {
  border: 3px solid #133629;
}

.node-page-popup-content {
  width: 950px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  color: #6344df;
  font-weight: bold;
  font-size: 20px;
  margin-top: 60px;
}

.node-pop {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.node-pop-div {
  width: 47%;
  height: 46%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 1%;
  outline: 2px solid #6344df;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.node-pop-stats {
  width: 97%;
  height: 99%;
  padding-top: 1%;
  padding-left: 20px;
  color: #6344df;
  border-radius: 10px 10px 10px 10px;
}

.node-stat {
  width: 50%;
  display: inline-block;
  padding-top: 20px;
}

.node-pop-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -5px;
  text-decoration: underline;
  margin-left: -100px;
}

.node-pop-chart-name {
  font-weight: bold;
  color: #6344df;
  text-align: center;
  font-size: 20px;
}

.node-pop-chart-port {
  width: 95%;
}

.node-pop-chart-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.node-pop-chart-filter-button {
  background-color: #ffffff;
  border: none;
  color: #6344df;
  outline: 2px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.chart-filter-button:hover {
  background-color: #6344df;
  border: none;
  color: #ffffff;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
}

.node-list-id10200 img {
  width: 30px;
  float: left;
}

.node-list-header-2043 {
  padding-top: 10px;
  height: 75px;
  width: 100%;
}

.node-list-header-20430 {
  padding-top: 10px;
  height: 75px;
  width: 100%;
}

.node-list-header-100 {
  padding-top: 10px;
  height: 75px;
  width: 100%;
}

.node-list-header-10200 {
  padding-top: 10px;
  height: 75px;
  width: 100%;
}

.node-list-header-2043 img {
  text-align: center;
  margin-left: 30%;
  width: 35px;
  height: 35px;
}

.node-list-header-100 img {
  text-align: center;
  margin-left: 35%;
  width: 250px;
  height: 30px;
}

.node-list-header-20430 img {
  text-align: center;
  margin-left: 30%;
  width: 35px;
  height: 35px;
}

.node-list-header-10200 img {
  text-align: center;
  margin-left: 30%;
  width: 35px;
  height: 35px;
}

.node-list {
  overflow: auto;
  width: 100%;
  height: 88%;
}

.node-id-header {
  padding-left: 2.75%;
  width: 7.5%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  position: flex;
  bottom: 0;
  color: #6344df;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
  text-align: left;
  padding-top: 20px;
}

.token-name-header {
  width: 28.5%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.token-sym-header {
  width: 16%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.stake-header {
  width: 11.5%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.age-header {
  width: 10%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.ask-header {
  width: 9%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.fee-header {
  width: 10%;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #6344df;
  text-align: left;
  background-color: transparent; /* Make the background transparent */
  border: none;
  cursor: pointer;
}

.node-id-record {
  width: 5.5%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-left: 0.5%;
  padding-top: 5px;
}

.token-name-record {
  width: 30%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.token-sym-record {
  width: 16.75%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.stake-record {
  width: 12%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.age-record {
  width: 10.5%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.ask-record {
  width: 10.5%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.fee-record {
  width: 5%;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: left;
  float: left;
  padding-top: 5px;
}

.nodes-network-drop-down {
  width: 10%;
  position: absolute;
  margin-left: 230px;
  margin-top: 100px;
  z-index: 200;
}

.nodes-network-drop-down select {
  background-color: #ffffff;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

.nodes-network-drop-down select:hover {
  background-color: #ffffff;
  border: none;
  color: #6344df;
  outline: 1px solid #6344df;
  border-radius: 2px 2px 2px 2px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 1536px) {
  .node-list-container {
    margin-left: 15%;
    height: 830px;
  }

  .node-id-header {
    padding-left: 3.5%;
    width: 8%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: flex;
    bottom: 0;
    color: #6344df;
    background-color: transparent; /* Make the background transparent */
    border: none;
    cursor: pointer;
    text-align: left;
    padding-top: 20px;
  }

  .node-id-record {
    width: 5.5%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-left: 0.5%;
    padding-top: 5px;
  }

  .token-name-record {
    width: 29.5%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-top: 5px;
  }
}

@media (max-width: 1366px) {
  .node-list-container {
    margin-left: 17%;
    height: 830px;
  }

  .ask-header {
    width: 11%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #6344df;
    text-align: left;
    background-color: transparent; /* Make the background transparent */
    border: none;
    cursor: pointer;
  }

  .ask-record {
    width: 12.5%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-top: 5px;
  }
}

@media (max-width: 480px) {
  .node-list-container {
    margin-left: 14%;
    height: 830px;
  }

  .node-id-header {
    padding-left: 7.5%;
    width: 16.5%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: flex;
    bottom: 0;
    color: #6344df;
    background-color: transparent; /* Make the background transparent */
    border: none;
    cursor: pointer;
    text-align: left;
    padding-top: 20px;
  }

  .node-id-record {
    width: 9%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-left: 0.5%;
    padding-top: 5px;
  }

  .token-sym-header {
    width: 37%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #6344df;
    text-align: left;
    background-color: transparent; /* Make the background transparent */
    border: none;
  }

  .token-sym-record {
    width: 40%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-top: 5px;
  }

  .stake-header {
    width: 28%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #6344df;
    text-align: left;
    background-color: transparent; /* Make the background transparent */
    border: none;
    cursor: pointer;
  }

  .stake-record {
    width: 28%;
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-align: left;
    float: left;
    padding-top: 5px;
  }

  .token-name-record {
    display: none;
  }

  .token-name-header {
    display: none;
  }

  .token-name-record {
    display: none;
  }

  .age-header {
    display: none;
  }

  .age-record {
    display: none;
  }

  .ask-header {
    display: none;
  }

  .ask-record {
    display: none;
  }

  .node-page-popup-content {
    width: 97%;
    height: 640px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    color: #6344df;
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
    overflow: auto;
  }
  
  .node-pop {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  .node-pop-div {
    width: 98%;
    height: 49%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 1%;
    outline: 2px solid #6344df;
    border-radius: 10px 10px 10px 10px;
  }
  
  .node-pop-stats {
    width: 97%;
    height: 99%;
    padding-top: 1%;
    padding-left: 20px;
    color: #6344df;
    border-radius: 10px 10px 10px 10px;
  }
  
  .node-stat {
    width: 50%;
    display: inline-block;
    padding-top: 20px;
  }
  
  .node-pop-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -5px;
    text-decoration: underline;
  }
  
  .node-pop-chart-name {
    font-weight: bold;
    color: #6344df;
    text-align: center;
    font-size: 20px;
  }
  
  .node-pop-chart-port {
    width: 95%;
  }
  
  .node-pop-chart-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .node-pop-chart-filter-button {
    background-color: #ffffff;
    border: none;
    color: #6344df;
    outline: 2px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .chart-filter-button:hover {
    background-color: #6344df;
    border: none;
    color: #ffffff;
    outline: 1px solid #6344df;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
  }

}

@media (max-width: 380px) {
  
}
