.allnodes {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  .allnodes-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    z-index: 10;
    color: #6168ED;
    border: 2px solid #6168ED;
    border-radius: 10px 10px 10px 10px;
    height: 85vh;
    width: 87%;
    margin-top: 5%;
    margin-left: 11.75%;
  }

  .allnodes-table-container {
    margin-top: 1%;
    margin-left:1%;
    height: 96%;
    width: 98%;
    overflow: auto;
  }

  .allnodesTable {
    width: 100%;
    height:100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border: 1px solid #6168ED;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
  }
  
  .allnodesTable th {
    background-color: #6168ED;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #6168ED;
    position: sticky;
    top: 0;
  }
  
  .allnodesTable td {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #6168ED;
  }
  
  .allnodesTable tr:hover {
    background-color: #F5F5F5;
    color: 6168ED;
    border: 1px solid #6168ED;
  }
  
  .allnodesTable tr:hover td {
    border: 1px solid #6168ED;
  }
  
  @media(max-width:1536px){
    .allnodes {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-family: 'Roboto', sans-serif;
    }
    
    .allnodes-header {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      font-size: calc(10px + 2vmin);
      z-index: 10;
      color: #6168ED;
      border: 2px solid #6168ED;
      border-radius: 10px 10px 10px 10px;
      height: 78vh;
      width: 84%;
      margin-top: 7%;
      margin-left: 14.5%;
    }
  
    .allnodes-table-container {
      margin-top: 1%;
      margin-left:1%;
      height: 96%;
      width: 98%;
      overflow: auto;
    }
  
    .allnodesTable {
      width: 100%;
      height:100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      border: 1px solid #6168ED;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      font-family: 'Roboto', sans-serif;
    }
    
    .allnodesTable th {
      background-color: #6168ED;
      color: #ffffff;
      padding: 10px;
      text-align: left;
      font-size: 16px;
      border: 1px solid #6168ED;
      position: sticky;
      top: 0;
    }
    
    .allnodesTable td {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #6168ED;
    }
    
    .allnodesTable tr:hover {
      background-color: #F5F5F5;
      color: 6168ED;
      border: 1px solid #6168ED;
    }
    
    .allnodesTable tr:hover td {
      border: 1px solid #6168ED;
    }
  }

  @media(max-width:1366px){
    .allnodes {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodes-header {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        font-size: calc(10px + 2vmin);
        z-index: 10;
        color: #6168ED;
        border: 2px solid #6168ED;
        border-radius: 10px 10px 10px 10px;
        height: 84vh;
        width: 83%;
        margin-top: 7%;
        margin-left: 16%;
      }
    
      .allnodes-table-container {
        margin-top: 1.5%;
        margin-left:1%;
        height: 95%;
        width: 98%;
        overflow: auto;
      }
    
      .allnodesTable {
        width: 100%;
        height:100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        border: 1px solid #6168ED;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodesTable th {
        background-color: #6168ED;
        color: #ffffff;
        padding: 10px;
        text-align: left;
        font-size: 14px;
        border: 1px solid #6168ED;
        position: sticky;
        top: 0;
      }
      
      .allnodesTable td {
        padding: 10px;
        font-size: 13px;
        border: 1px solid #6168ED;
      }
      
      .allnodesTable tr:hover {
        background-color: #F5F5F5;
        color: 6168ED;
        border: 1px solid #6168ED;
      }
      
      .allnodesTable tr:hover td {
        border: 1px solid #6168ED;
      }
  }

  @media (max-width: 480px) {
    .allnodes {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0%;
        width: 360px;
        height:100vh;
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodes-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        z-index: 2;
        color: #6168ED;
        height: 83%;
        width: 95%;
        margin-top: 25%;
        margin-left: 17%;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        background-color: none;
      }

      .allnodes-table-container {
        margin-top: 1%;
        margin-left:1%;
        height: 95%;
        width: 95%;
        overflow: auto;
      }
    
      .allnodesTable {
        width: 100%;
        height:100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        border: 1px solid #6168ED;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        left: 16%;
        margin-top: 1%;
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodesTable th {
        background-color: #6168ED;
        color: #ffffff;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        border: 1px solid #6168ED;
        max-width: 100px; /* Set your desired maximum width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      .allnodesTable td {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #6168ED;
        max-width: 20px; /* Set your desired maximum width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      .membersTable tr:hover {
        background-color: #F5F5F5;
        color: 6168ED;
        border: 1px solid #6168ED;
      }
      
      .membersTable tr:hover td {
        border: 1px solid #6168ED;
      }
  }

  @media (max-width: 360px) {
    .allnodes {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0%;
        width: 360px;
        height:100vh;
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodes-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        z-index: 2;
        color: #6168ED;
        height: 80%;
        width: 81%;
        margin-top: 25%;
        margin-left: 16%;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        background-color: none;
      }

      .allnodes-table-container {
        margin-top: 1%;
        margin-left:1%;
        height: 95%;
        width: 95%;
        overflow: auto;
      }
    
      .allnodesTable {
        width: 100%;
        height:100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        border: 1px solid #6168ED;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        left: 16%;
        margin-top: 1%;
        font-family: 'Roboto', sans-serif;
      }
      
      .allnodesTable th {
        background-color: #6168ED;
        color: #ffffff;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        border: 1px solid #6168ED;
        max-width: 100px; /* Set your desired maximum width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      .allnodesTable td {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #6168ED;
        max-width: 20px; /* Set your desired maximum width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  }

  @keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(1turn); }
  }

  @keyframes levitate {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }