.sidebar {
  background-color: #6168ED;;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 0px 0 0px;
  font-family: "OCR A Std", monospace;
  min-height:100vh;
  position: absolute;
  z-index:9700;
}

.sidebar ul {
  list-style-type: none;
  padding-top: 40%;
  margin-left:-10%;
}

.sidebar li {
  padding-top:10px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom:10px;
}

.sidebar li:hover {
  cursor: pointer;
}

.sidebar .icon {
  height: 30px;
  width: 30px;
  padding-left:-20px;
  padding-right:0px;
  filter: brightness(0) invert(1);
}
  
  .sidebar .title {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .sidebar .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 80px;
    padding: 10px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    list-style-type: none;
    width: 100%;
    z-index: 10;  
    color: #6168ED;
    text-decoration: none;
  }
  
  .sidebar li:hover .sub-menu {
    display: block;
  }
  
  .sidebar .sub-menu li {
    color: #6168ED;
    margin-top: 0px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 18px;
    height:40px;
  }

  .sub-title{
    color: #6168ED;
    text-decoration: none;
  }

  .sidebar .sub-menu li:first-child {
    margin-top: 10px; 
  }

  .sidebar .sub-menu li:hover {
    background-color: #F5F5F5
  }
  

  @media (max-width: 480px) {
    .sidebar {
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 800; /* Ensure submenu appears above other elements */
      color: #ffffff;
      height:100%;
      z-index:9700;
      background-color: #6168ED;
      padding-top: 0%;
    }
  
    .sidebar .icon {
        height: 25px;
        width: 25px;
        margin-left:-12px;
        filter: brightness(0) invert(1);
      }

    .sidebar .title {
      display: none;
      font-weight: bold;
    }
  
    .sidebar li {
      margin-bottom: -2px;
      margin-top: 0px;
      height: 40px;
    }
  
    .sidebar .sub-menu {
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        display: none;
        list-style-type: none; 
        width:150px;
        z-index: 9000; /* Ensure submenu appears above other elements */
        margin-left:10px;
        margin-top:-20px;
      }
      
      .sidebar .sub-menu li {
        color: #6168ED;
        margin-top: 0px;
        padding-left: -10%;
        font-size: 18px;
        text-decoration: none;
        z-index: 9001;
      }

      .sidebar .sub-menu li:hover {
        background-color: #F5F5F5
      }
      
      .sidebar .sub-menu li:first-child {
        margin-top: 10px; /* Add margin-top only to the first submenu item */
      }
  }

  @media (max-width: 360px) {
    .sidebar {
      height:100%;
    }
  }
  
